{% extends 'base.html'%}

{% block content %}

<div class="m-5">
    <h1 class="h1">Bem-vindo, {{ request.user.username }}</h1>
</div>

<div class="container">
    <h2 class="h2">Buscar Candidatos</h2>
    <form method="POST" action="{% url 'home' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label mb-2">{{ form.fullname.label }}</label>
            <p> {{ form.fullname }}</p>
        </div>
        <div class="text-center">
            <button type="submit" class="btn text-white" style="background-color:#173B82;">Buscar</button>
        </div>
    </form>
</div>

<div class="container">
    <h2 class="h2">Candidatos</h2>
    {% if candidatos %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Status</th>
                <th>Data de Aprovação</th>
            </tr>
        </thead>
        <tbody>
            {% for candidato in candidatos %}
                <tr>
                    <td>{{ candidato.name }}</td>
                    <td>{{ candidato.cpf }}</td>
                    {% if candidato.status == 'encontrado' %}
                        <td class="fw-bold text-success">{{ candidato.get_status_display }}</td>
                    {% else %}
                        <td class="fw-bold text-info">{{ candidato.get_status_display }}</td>
                    {% endif %}
                    <td>{% if candidato.approval_date %}{{ candidato.approval_date }}{% else %}N/A{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Nenhum candidato encontrado.</p>
{% endif %}
</div>

{% endblock %}